certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
decorator==4.4.2
idna==3.6
imageio==2.33.0
imageio-ffmpeg==0.4.9
moviepy==1.0.3
numpy==1.26.2
opencv-python==4.8.1.78
Pillow==10.1.0
proglog==0.1.10
pycparser==2.21
requests==2.31.0
setuptools==69.0.2
sounddevice==0.4.6
toml==0.10.2
tqdm==4.66.1
urllib3==2.1.0
wheel==0.42.0
